<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.ddmanage.mapper.Office.AnnouncementListMapper">
     <select id="AnnouncementMessage" resultType="com.mol.ddmanage.Ben.Office.AnnouncementEditPageben">
       select bac_announcemen.*,(select bac_user.userName from bac_user where bac_user.ddUserId=bac_announcemen.creaduserid)creadName from bac_announcemen where 0=0;
     </select>
    <delete id="DeleteAnnouncementList">
        delete from bac_announcemen where announcemenId=#{announcemenId}
    </delete>
</mapper>