<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.ddmanage.mapper.Office.ElectronicContractSigninginforMapper">
   <insert id="Upload_Contract">
       insert into fadada_contract_upload_record (id,contract_id,upload_time,upload_user_id) values (#{id},#{contract_id},#{upload_time},#{upload_user_id})
   </insert>
</mapper>