<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.ddmanage.mapper.Office.ElectronicContractSigninginforMapper">
   <insert id="Upload_Contract">
       insert into fadada_contract_upload_record (id,contract_id,upload_time,upload_user_id) values (#{id},#{contract_id},#{upload_time},#{upload_user_id})
   </insert>

    <insert id="Supplier_Contract">
       insert into fy_purchase_supplier_contract (id,purchase_id,supplier_id,contract_id,template_id,create_time,start_sign_time,sign_status) values (#{id},#{purchase_id},#{supplier_id},#{contract_id},#{template_id},#{create_time},#{start_sign_time},#{sign_status})
   </insert>

    <select id="GetContractId" resultType="java.util.Map">
        select * from fy_purchase_supplier_contract where supplier_id=#{supplierid} and purchase_id=#{purchasId}
    </select>

    <select id="GetCustomer_id" resultType="java.util.Map">
        select * from  fadada_regist_record where open_id=#{open_id}
    </select>
</mapper>