<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.ddmanage.mapper.Office.PurchaseGrogressMapper">

    <select id="PurchaseGrogressList" resultType="com.mol.ddmanage.Ben.Office.Purchase_Grogress_list_ben">
       SELECT fy_purchase.*,(SELECT app_user.user_name FROM app_user WHERE app_user.dd_user_id=fy_purchase.staff_id)user_name FROM fy_purchase
    </select>
</mapper>