<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>供应商认证完成</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <script src="js/bootstrap.min.js"></script>
    <style>
       
    </style>
</head>
<body>
	<div style="margin-top: 16px;margin-left: 16px;text-align: center;">
		<img src="img/auth.png" alt="..." class="img-rounded" style="height: 100px; width: 100px;">
		<div style="font-size: 18px;color: greenyellow;">认证完成</div>
	</div>
	<!-- 公司名称开始 -->
	<div class="input-group" style="margin: 24px 3px 0px 12px;">
	  <span class="input-group-addon">公司名称：</span>
	  <input type="text" class="form-control" id="gongsimingchenginput" value="枣庄星联信息科技有限公司" readonly="readonly">
	</div>
	<!-- 公司名称结束 -->
	<!-- 营业执照号开始 -->
	<div class="input-group" style="margin: 6px 3px 0px 12px;">
	  <span class="input-group-addon">营业执照号：</span>
	  <input type="text" class="form-control" id="yingyezhizhaoinput" value="91370400000000000" readonly="readonly">
	  <span class="input-group-addon xiugai" id="yingyezhizhaospan" style="display: none;color: red;"  onclick="xiugai(this.id)">修改</span>
	</div>
	<!-- 营业执照号结束 -->
	<!-- 营业执照图片开始 -->
	<div style="margin: 6px 6px 0 15px;">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">上传营业执照图像</a></li>
		</ul>
		<div class="control-group" id="upimg">
		    <label class="col-md-3 control-label span3"></label>
		    <div class="col-md-9">
		        <img id="img1" src="img/upimg.png" width="70px" height="70px" id="upimg">
		    </div>
		</div>
		<!-- <div class="control-group">
		    <div class="col-md-9">
		        <div class="input-group">
		                <span class="btn btn-default" id="dianjishangchuan" style="display: none;">点击上传</span>
						<span class="input-group-addon xiugai" id="shangchuantupian" style="color: red;width: 20px;"  onclick="shangchuan(this.id)">修改</span>
		        </div>
		    </div>
		</div> -->
	</div>
	
	<!-- 所在地开始 -->
	<div class="input-group" style="margin:6px 6px 0 10px;clear: both; ">
	  <span class="input-group-addon" id="basic-addon1">所在地：</span>
	  <input type="text" class="form-control"  value="山东 枣庄 市中区" readonly="readonly" aria-describedby="basic-addon1">
	</div>
	<!-- 所在地结束 -->
	<!-- 注册地开始 -->
	<div class="input-group" style="margin:6px 6px 0 10px;clear: both; ">
	  <span class="input-group-addon" id="basic-addon1">注册地：</span>
	  <input type="text" class="form-control"  value="山东 枣庄 市中区" readonly="readonly" aria-describedby="basic-addon1">
	</div>
	<!-- 注册地结束 -->
	<!-- 所属行业开始 -->
	<div class="input-group" style="margin:6px 6px 0 10px;clear: both; ">
	  <span class="input-group-addon" id="basic-addon1">所属行业：</span>
	  <input type="text" class="form-control"  value="机械零件 机械零件 机械零件" readonly="readonly" aria-describedby="basic-addon1">
	</div>
	<!-- 所属行业结束 -->
	<!-- 经营范围开始 -->
	<div id="1" style="clear: both;margin:6px 6px 0 10px;">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">经营范围</a></li>
		</ul>
		<textarea style="width: 100%;margin-top: 6px; " value=""></textarea>
	</div>
	<!-- 经营范围结束 -->
	<!-- 上传法人身份证正反面开始 -->
	<div id="1"style="margin:6px 6px 0 10px;">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">上传法人身份证正反面</a></li>
		</ul>
		<div class="col-xs-6 col-md-6" style="float: left;">
			<img src="img/upimg.png" alt="..." class="img-rounded" style="width: 70px;height: 70px;">
		</div>
		<div class="col-xs-6 col-md-6" style="float: left;">
			<img src="img/upimg.png" alt="..." class="img-rounded" style="width: 70px;height: 70px;">
		</div>
	</div>
	<!-- 上传法人身份证正反面结束 -->
	<!-- 法人姓名开始 -->
	<div class="input-group" style="margin:72px 6px 0 10px ;clear: both;">
	  <span class="input-group-addon" id="basic-addon1">法人姓名：</span>
	  <input type="text" class="form-control" value="王茜茜"  readonly="readonly" aria-describedby="basic-addon1">
	</div>
	<!-- 法人姓名结束 -->
	<!-- 身份证号开始 -->
	<div class="input-group" style="margin:6px 6px 0 10px ">
	  <span class="input-group-addon" id="basic-addon1">身份证号：</span>
	  <input type="text" class="form-control" value="62626226262"  readonly="readonly" aria-describedby="basic-addon1">
	</div>
	<!-- 身份证号结束 -->
	
	<!-- 其他补充材料开始 -->
	<div id="1" style="margin-top: 6px;margin-left: 8px;">
		<ul class="nav nav-tabs" >
		  <li role="presentation" class="active"><a href="#">其他补充材料（专利/代理商资质等材料）</a></li>
		</ul>
		<div class="col-xs-6 col-md-6" style="float: left;">
			<img src="img/upimg.png" alt="..." class="img-rounded" style="width: 70px;height: 70px;">
		</div>
	</div>
	<!-- 其他补充材料结束 -->
	<!-- 手机号开始 -->
	<div class="input-group" style="margin:143px 6px 0 10px ">
	  <span class="input-group-addon" id="basic-addon1">手机号：</span>
	  <input type="text" class="form-control" value="111111" readonly="readonly" aria-describedby="basic-addon1">
	</div>
	<!-- 手机号结束 -->
</body>
<script>
	//点击修改,可操作input
	function xiugai(e){
		 var id =$("#"+e).prev();
		 console.log(id)
		 console.log(id.prevObject[0].parentElement.outerHTML)
		 var string =id.prevObject[0].parentElement.outerHTML;
		 var inp=string.split("<");
		 console.log(inp)
		 
		 //遍历数组
		 for (var i = 0; i < inp.length; i++) {
		 	var inpString =inp[i];
			var a=inpString.indexOf("readonly=");
			if(inpString.indexOf("readonly=")!=-1){
				var inputIdString =inp[i];
				var index=inputIdString.indexOf("id=");
				var newString =inputIdString.substr(index+4);
				var newArray=newString.split("\"");
				var inputId=newArray[0];
				console.log(inputId);
				$("#"+inputId).removeAttr("readonly");
				
			}
		 }
	}
	
	//点击修改,可上传图片
	function shangchuan(e){
		var id =$("#"+e).prev();
		console.log(id)
		console.log(id.prevObject[0].parentElement.outerHTML)
		var string =id.prevObject[0].parentElement.outerHTML;
		var inp=string.split("<");
		console.log(inp)
		
		//遍历条件:
		//1 存在id 
		//2 不存在传入的id
		for(var i=0;i<inp.length;i++){
			var inpString = inp[i];
			if(inpString.indexOf("id=")!=-1 && inpString.indexOf(e)==-1){
				var spanId = inp[i];
				console.log("spanid"+spanId)
				var index = spanId.indexOf("id=");
				var array = spanId.split(index+4);
				console.log(array)
			}
		}
	}
	//上传图片
	 $(function () {
	    $(".file").change(function (e) {
			console.log(e)
			console.log(e.target.outerHTML)
			var outH=e.target.outerHTML;//2left.html:97 <input id="file" type="file" name="img1" style="left: -9999px; position: absolute;">
			var index=outH.indexOf("name=");
			var newout=outH.substr(index+6);//name="img1" style="left: -9999px; position: absolute;">
			var s=newout.split("\"");
			var id =s[0];
	        var file = e.target.files[0] || e.dataTransfer.files[0];
	        // $('#photoCover').val(document.getElementById("file").files[0].name);
	        if (file) {
	            var reader = new FileReader();
	            reader.onload = function () {
	                $("#"+id).attr("src", this.result);
	            }
	
	            reader.readAsDataURL(file);
	        }
	    });
	})
</script>
</html>