<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>供应商认证</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.all.js}"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>
    <style>
       .info_text{
           padding: 5px 20px 10px 20px;
           color: dimgrey;
           font-size: 12px;
       }
        .pay_btn{
            position: absolute;
            top: 200px;
            left: 25%;
            width: 50%;
        }
    </style>
</head>
<body>
	<div id="1" style="width: 100%;margin-top: 15px">
		<div class="page-header info_text" >
		  <h1  style="text-indent: 1em;"> <small>此次认证茉尔易购将产生保证金费用，当退出 茉尔易购平台时，该费用可申请退回。</small></h1>
		</div>

		<div style="text-align: center;font-size: 22px;font-weight: bold;">
			<span th:text="${cost}"></span>
			<span>元</span>
		</div>
	</div>
    <button type="button" class="layui-btn layui-btn-normal pay_btn" id="pay-btn">立即支付</button>
</body>
<script th:src="@{/js/common.js}"></script>
<script>
    //页面加载完成后执行
    window.onload = function(){
        $("#pay-btn").on('click',function(){
            //支付1.去后端获取支付信息     2，带着支付信息调用钉钉微应用的支付接口

        dd.ready(function(){
            getPayInfo();
        })




        })
    }




    function getPayInfo(){
        return new Promise((resolve, reject) => {
            $.ajax({
                url:"/pay/alipay/getCreateInfo",
                data:{'payfor':"regsupplier",'suppliertype':"zhanlve"},
                dataType:"json",
                success:function(res){
                    console.log(res);
                    resolve(res);
                },
                fail:function(res){
                    alertMsg("获取数据异常，请重试",3000);
                    console.log(res);
                    reject(res);
                }
            })
        })
    }
</script>
</html>