<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta charset="UTF-8">
	<title th:text="${pagenametitlefront+'认证已通过'}"></title>
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div style="text-align: center;margin-top: 30px;">
	<img th:src="@{/img/audits.png}" alt="..." class="img-rounded" style="height: 100px;width: 100px;">
	<div style="margin-top: 16px;font-size: 18px;">审核通过</div>
	<div style="margin-top: 10px;font-size: 18px;"><input type="button" style="border: none;" class="bg-primary" value="查看详情" id="to_see_detail_btn" th:suppliertype="${pagenametitlefront}"/></div>
</div>
	<script>
		$("#to_see_detail_btn").on('click',function(){
			var suppliertype = $(this).attr('suppliertype');
			window.location.href="/auth/detail?suppliertype="+suppliertype;
		})
	</script>

</body>
</html>