<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0," name="viewport"/>
    <title>合同管理</title>
</head>
<body>

</body>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<!--导航模块结束-->
<script th:inline="javascript">
    window.onload=function(){
        layui.use(["layer","form"], function(){
            layer = layui.layer;
        });
    }
</script>
</html>