<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>摩尔咨询</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        .button{
            clear: both;
            /*width: 120px;*/
            text-align: right;
            padding-right: 13px;
            margin-top: 163px;
            height: 50px;

        }
        .tabble{
            border-bottom: 1px solid #dddddd;
            width: 100%;
        }
    </style>
</head>
<body>

<div class="media" style="margin: 10px 3px 3px 6px ;width: 100%;">
    <div class="media" style="margin: 10px 3px 3px 6px ;width: 100%;padding: 0px 10px 3px 10px ;" th:each="er:${newsList}">
        <div class="media-left">
            <a th:href="@{'/index/findnewsDetail?id='+${er.id}}" style="text-decoration: none;color: black;">
                <img class="media-object" th:src="${er.img}" alt="..." style="width: 50px;height: 50px;">
            </a>
        </div>
        <div  class="media-body" style="padding-left: 10px;">
            <a th:href="@{'/index/findnewsDetail?id='+${er.id}}"  style="text-decoration: none;color: black;">
                <h4 class="media-heading" th:text="${er.title}">Media headingsscs少时诵诗书所所所收到撒大声地所</h4>
                <h6 th:text="${er.introduction}">dddddddddddddddddxccfddfs d </h6>

            </a>
            <p style="float: right;margin-right: 12px;" th:text="${er.creationTime}">2015-6-9</p>
        </div>
    </div>
</div>
</body>

</html>