<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0," name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>云采购第三方服务平台</title>

    <!-- Bootstrap -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <!--<link th:href="@{/css/public.css}" rel="stylesheet">-->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/thirdPage_homePage.css}" rel="stylesheet">


    <style>
        .companyName{
            font-size: 15px;
            text-align: center;
            color: #d58512;
        }
        .picture{
            width: 100%;
            height: 222px;
        }
        .paiban{
        }
        .tt{
            /*width: 50%;*/
            height: 107px;
        }
        .tobe{
            /*height: 62px;*/

            padding-top: 58px;
            border: 1px solid #eeeeee;
            height: 125px;
            width: 50%;
            margin: auto;
            text-align: center;
        }
        .change{
            width: 45%;
            margin: 3px 1% 5px 3%;
        }

        .thumbnail{
            margin-bottom: 8px;
            margin-top: 12px;
        }
        .bottom_div{
            width: 100%;
            height: 50px;
            position: fixed;
            bottom:0px;
        }
        .bottom_div_adiv{
            float:left ;
            width: 33.33%;
            height:100%;
            line-height: 255%;
            text-align: center;
            margin: 10px 0px 20px 0px ;font-size: 16px;
            background-color:#eee;
        }
        .bottom_div_adiv:hover{
            background-color:#ccc;
        }

    </style>

</head>
<body>
<!--轮播图开始-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="height: auto;margin-top: 22px"  >
        <!--<div class="item active picture" >-->
        <div th:class="${ll.index == 0}?'picture item  active':'item picture'" th:each="lunbo,ll:${lunboList}">
            <img th:src="@{${lunbo.image}}" alt="..." >
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--轮播图结束-->

<!--公告开始-->
<div class="page-header">
    <h3>公告： <small>德邦物流采购结果通知</small></h3>
</div>
<!--公告结束-->

<!--企业排版开始-->
<div class="row">
    <div class="row paddtop" >
        <div class="col-xs-3 col-md-3 paiban"  th:each="enter,f:${enterList}" >
            <a th:href="@{'/index/findList?pageName='+${enter.name}+'&pageNumber=1&pageSize=10'}" class="thumbnail">
<!--            <a  class="thumbnail" th:onclick="goListHtml([[${enter.name}]])">-->
            <img th:src="@{${enter.enterImage}}" alt="..." id="icon-img">
            </a>
            <p class="companyName" th:text="${enter.name}">询价</p>
        </div>
    </div>
</div>
<!--企业排版结束-->

<!--成为goon供应商开始-->
<div class="tt">
    <!--<div class="col-md-3 "></div>-->
    <div class="col-md-6 col-xs-5 tobe">
        <a class="tt" href="https://www.baidu.com" style="width: 226px;margin-top: 5px">成为云采购供应商</a>
    </div>
    <div class="col-md-6 col-xs-5 tobe">
        <a class="tt" href="https://www.baidu.com" style="width: 226px;margin-top: 5px">如何成为战略采购供应商</a>
    </div>
    <!--<div class="col-md-3 "></div>-->
</div>
<!--成为goon供应商结束-->

<!--询价采购   招标采购需求 开始  导航-->
<div style="margin-top: 25px">
    <ul class="nav nav-tabs">
        <button role="presentation" class="btn btn-default" onclick="xunjia(4)">询价采购需求</button>
        <button role="presentation" class="btn btn-default" onclick="xunjia(3)">招标采购需求</button>
    </ul>
</div>
<!--询价采购   招标采购需求 结束-->
<div class="list-group" style="margin-bottom: 6px" id="group">
<!--    <a th:href="@{'/index/selectOne?id='+${er.id}}" class="list-group-item">-->
<!--        <span>&nbsp;*&nbsp;&nbsp;中科丰源|</span><span th:text="${er.title}"></span><span style="float: right;" th:text="${er.createTime}"></span>-->
<!--    </a>-->
</div>
<!--<div th:replace="public.html::footer">-->

<!--</div>-->

<!--导航模块开始-->
<div class="bottom_div" th:fragment="footer">
    <div class="bottom_div_adiv">
        <!--        不用topage，发送请求-->
        <a th:href="@{'/index/findAll'}"><span class="bottom_a_span">首页</span></a>
    </div>
    <div class="bottom_div_adiv">
        <a th:href="@{'/sche/findList?status_first=1&status_second=4&status_thrid=6&pageNum=1&pageSize=8'}" id="processa"><span class="bottom_a_span">进度</span></a>
    </div>
    <div class="bottom_div_adiv">
        <!--        <a th:href="@{'/toPage?url='+my}">我的</a>-->

        <a th:href="@{'/microApp/my/show'}"><span class="bottom_a_span">我的</span></a>

    </div>
</div>
<!--导航模块结束-->
<!--获取打开环境-->
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/common.js}"></script>
<!--<script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>-->
<!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
<script th:src="@{/js/dingtalk.open.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/ddInit.js}"></script>
<script th:inline="javascript">
    console.log("初始化layer：");
    var layer ;
    var index;
    layui.use(["layer","form"], function(){
        layer = layui.layer;
    });


    $(document).ready(function(){
        console.log("index加载完成后执行------");
        console.log("检测session中是否有user信息-----");
        //从session获取用户信息：
        var user = [[${session.user}]];
        var supplier = [[${session.supplier}]];
        console.log("user:");
        console.log(user);
        console.log("supplier:");
        console.log(supplier);
        console.log("user && supplier");
        console.log(user && supplier);

        // if(user && supplier){
        //     console.log("session中有user和supplier：。。。。supstateNormal:"+supplier.supstateNormal);
        //     var supstate = supplier.supstateNormal;
        //     //alertMsg(supstate);
        //     xunjia(4,supstate);
        // }else{
            console.log("session中没有user或supplier：");
            <!--获取缓存的变量-->
            localStorage.clear();
            var localRunEnv = getRunEnv();
            console.log("获取运行环境：runEnv:");
            console.log(localRunEnv);
            var localRunEnvExl = "";
            if("android----dd" == localRunEnv){
                localRunEnvExl = "这是安卓手机的钉钉运行环境";
                dd.ready(function(){
                    android_dd_init_action();
                })
                //getUserAndOrgByEnvWithdd();
            }else if("iphone----dd" == localRunEnv){
                localRunEnvExl = "这是苹果手机的钉钉运行环境";
                getUserAndOrgByEnvWithdd();
            }else if("android--wx" == localRunEnv){
                localRunEnvExl = "这是安卓微信运行环境";
                getUserAndOrgByEnvWithwx();
            }else if("android----wxwork" == localRunEnv){
                localRunEnvExl = "这是安卓企业微信运行环境";
                getUserAndOrgByEnvWithwxwork();
            }else if(localRunEnv.indexOf("pc") >1){
                localRunEnvExl = "电脑运行环境";
                getUserAndOrgByEnvWithPc();
            }
            console.log("判断当前运行的环境为：");
            console.log(localRunEnvExl);
        // }
    })


    function  xunjia(val,supstate) {
        var buyId="";
        var htm="";
        var status="1";
        if (val != null && val != ""){
            buyId=val;
        } else {
            buyId=4+"";
        }

        $.get("/index/getOrderList",{buyId:buyId,status:status},function (re) {
            console.log(re)
            var h="";

            if(supstate != undefined && supstate == 1){
                for (var i =0;i<re.length;i++){
                    h="<div class=\"list-group\" style=\"margin-bottom: 6px;font-size: 12px\">\n" +
                        "    <a href=\"/index/selectOne?id="+re[i].id+"\" class=\"list-group-item\">\n" +
                        "        <span>*&nbsp;中科丰源|</span><span>"+re[i].title+"</span><span style=\"float: right;\">"+re[i].createTime+"</span>\n" +
                        "    </a>\n" +
                        "</div>";
                    htm+=h;
                };
            }else{

                $.each($(".thumbnail"),function(){
                    $(this).attr('href','#javascript;');
                    $(this).on('click',function(){
                        alertMsg('请先完成供应商认证！');
                    })
                })

                $("#processa").attr('href','#javascript;');
                $("#processa").on('click',function(){
                    alertMsg('请先完成供应商认证！');
                })


                for (var i =0;i<re.length;i++){
                    h="<div class=\"list-group\" style=\"margin-bottom: 6px;font-size: 12px\">\n" +
                        "    <a href=\"#javascript;\" class=\"list-group-item\" onclick=\"shownoauth()\">\n" +
                        "        <span>*&nbsp;中科丰源|</span><span>"+re[i].title+"</span><span style=\"float: right;\">"+re[i].createTime+"</span>\n" +
                        "    </a>\n" +
                        "</div>";
                    htm+=h;
                };



            }
            hideLoading();

            $("#group").html("")
            $("#group").html(htm);
        })
        hideLoading();
    }
    function shownoauth(){
        alertMsg('请先完成供应商认证！');
    }



</script>
</body>
</html>