<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/jquery-cookie.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.all.js}"></script>
    <!--获取打开环境-->
    <script th:src="@{/js/ddInit.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/common.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/phoneCode.js}"></script>

    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>
    <style>
        .button{
            clear: both;
            /*width: 120px;*/
            text-align: right;
            padding-right: 13px;
            margin-top:43px;
            height: 33px;

        }

        #form div input {
            height: 42px;
        }
        .protocol-span{
            font-size:8px;
        }
        .protocol-span-proname{
            color:#00FFFF;
        }
        .b1{white-space-collapsing:preserve;}
        .b2{margin: 1.0in 1.25in 1.0in 1.25in;}
        .p1{text-align:start;hyphenate:auto;font-family:Calibri;font-size:12pt;}
    </style>
</head>
<body>
<div class="page-header" style="text-align: center;">
    <h1><small>欢迎加入茉尔易购云采购平台</small></h1>
</div>
<div>
    <ul class="nav nav-pills">
    <li class="active col-xs-4 col-md-6" role="presentation" style="font-size: 12px;"><a href="/microApp/login/show">首次使用</a></li>
    <li class=" col-xs-6 col-md-6" role="presentation" style="margin-left: -30px;font-size: 12px;"><a href="/microApp/login/show1">钉钉或企业微信用户</a></li>
</ul>
</div>


<form id="form" class="form-horizontal col-xs-11 col-md-5" style="margin-top: 30px;margin-left: 5%;">
    <!-- 公司名称 -->
    <div class="input-group" >
        <span class="input-group-addon"  >公司</span>
        <input type="text" class="form-control" placeholder="请输入公司名称" aria-describedby="basic-addon1" id="org-input">
    </div>
    <!-- 姓名 -->
    <div class="input-group col-xs-6 col-md-6" style="margin-top: 25px; float: left;">
        <span class="input-group-addon" >姓名</span>
        <input type="text" class="form-control" placeholder="请输入姓名" aria-describedby="basic-addon1" id="user-name-input">
    </div>
    <!-- 部门 -->
    <div class="input-group col-xs-6 col-md-6" style="margin-top: 25px;float: right;">
        <span class="input-group-addon" >部门</span>
        <input type="text" class="form-control" placeholder="请输入部门" aria-describedby="basic-addon1" id="dept-name-input">
    </div>
    <!-- 手机号 -->
    <div class="input-group col-xs-8 col-md-8" style="margin-top: 25px; float: left;">
        <span class="input-group-addon">手机号</span>
        <input type="text" class="form-control" placeholder="请输入手机号" aria-describedby="basic-addon1" id="phone-input">
    </div>
    <!-- 获取验证码 -->
    <div class="col-xs-3 col-md-3" style="margin-top: 28px;float: left;margin-left:-5px">
        <span class="input-group-addon" id="check-code-span" style="display:inline-block;margin-left:-5px;background-color: #fff;border:none;padding-top:11px;color:#24d9bb">获取验证码</span>
    </div>
    <!-- 验证码 -->
    <div class="input-group col-xs-8 col-md-8" style="margin-top: 25px; float: left;">
        <span class="input-group-addon" >输入验证码</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" id="code-input">
    </div>

    <!--用户注册协议-->
    <div class="col-xs-12 col-md-12">
        <div class="col-xs-1 col-md-1" id="protocol-checkbox">
            <input type="checkbox" name="protocolAgree" title="同意协议" id="protocol-checkbox-input">
        </div>
        <div class="col-xs-10 col-md-10" style="margin-top: 5.5%;">
            <span class="protocol-span">同意<a class="protocol-span-proname" id="protocol-span-id">《茉尔易购用户注册协议》</a>和<a class="protocol-span-proname" id="privace-agree-id">《隐私政策》</a></span>
        </div>

    </div>

    <!-- 绑定 -->
    <div class="col-xs-12 col-md-12" style="clear: both;float: left;margin-top: 34px;margin-left: 9%;">
        <button type="button" style="width: 80%;text-align: center;background-color: blueviolet;" class="btn btn-default" id="sub-btn" disabled="disabled">绑定</button>
    </div>
</form>
<div id="example1"></div>
</body>
<script th:inline="javascript">

    $(document).ready(function(){
        console.log("document.ready");

        //点击用户注册协议显示协议内容事件：
        $("#protocol-span-id").on('click',function(){
            location.href = "/microApp/login/showProtocolPage";
        })

        //点击用户隐私协议内容事件：
        $("#privace-agree-id").on('click',function(){
            location.href = "/microApp/login/showprivacyagreePage";
        })



        //点击同意协议checkbox事件：
        $("#protocol-checkbox").on("click",function(){
            var checked = $("#protocol-checkbox-input")[0].checked;
            console.log("checked:");
            console.log(checked);
            if(checked){
                $("#protocol-checkbox-input").attr("checked",false);
                $("#sub-btn").attr("disabled",false);
            }else{
                $("#protocol-checkbox-input").attr("checked",true);
                $("#sub-btn").attr("disabled","disabled");
            }
        });


        var layer ;
        layui.use(["layer","form"], function(){
            layer = layui.layer;
        });

        //从session获取用户信息：
        var ddUser = [[${session.ddUser}]];
        var ddDept = [[${session.ddDept}]];
        var ddOrg = [[${session.ddOrg}]];
        var user = [[${session.user}]];
        var supplier = [[${session.supplier}]];
        console.log("ddUser");
        console.log(ddUser);
        console.log("ddDept");
        console.log(ddDept);
        console.log("ddOrg");
        console.log(ddOrg);
        console.log("user");
        console.log(user);
        console.log("supplier");
        console.log(supplier);
        if(ddUser){
            $("#user-name-input").val(ddUser.name);
            $("#phone-input").val(ddUser.mobile);
        }
        if(supplier){
            $("#org-input").val(supplier.name);
        }
        var resend;

        //验证码倒计时相关
        /*仿刷新：检测是否存在cookie*/
        if($.cookie("captcha")){
            var count = $.cookie("captcha");
            var btn = $('#check-code-span');
            btn.text(count+'秒后可重新获取').attr('disabled',true).css('cursor','not-allowed');
            var resend = setInterval(function(){
                count--;
                if (count > 0){
                    btn.text("重新获取("+count+"秒)").css("color","#aaa");
                    $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                }else {
                    clearInterval(resend);
                    resend = undefined;
                    btn.text("获取验证码").css("color","#24d9bb");
                }
            }, 1000);
        }

        /*获取验证码点击事件*/
        $('#check-code-span').click(function(){
            // if(resend){
            //     return ;
            // }
            /*验证手机号码的有效性*/
                var phone = $("#phone-input").val();
                checkPhone(phone);
                    /*发送短信*/
                    sendMes(phone,'regist').then(function (res) {
                        console.log(res.result);
                        if(res.success){
                            alertMsg("发送成功");
                        }else{
                            alertMsg("发送失败，请稍后再试");
                        }
                    });



            var btn = $(this);
            var count = 60;
            if(!resend){
                resend = setInterval(function(){
                    count--;
                    if (count > 0){
                        btn.text("重新获取("+count+"秒)").css("color","#aaa");
                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                    }else {
                        clearInterval(resend);
                        resend = undefined;
                        btn.text("获取验证码").css("color","#24d9bb");
                    }
                }, 1000);
            }

            btn.attr('disabled',true).css('cursor','not-allowed');
        });

        /*绑定*/
        $("#sub-btn").on("click",function(){
            var phone = $("#phone-input").val();
            var code = $("#code-input").val();
            if(!code){
                alertMsg("请输入验证码");
                return ;
            }
            checkPhone(phone);
            showLoading();
            /*去后端验证该手机号码的验证码是否正确，如果正确则注册，如果不正确提示验证码不正确*/
            checkPhoneCode(phone,code).then(function(data){
                if(data.success){
                    var orgName = $("#org-input").val();
                    var username = $("#user-name-input").val();
                    var phone = $("#phone-input").val();
                    var deptName = $("#dept-name-input").val();
                    console.log("orgName:"+orgName+",username:"+username+",phone:"+phone+",deptName:"+deptName);

                    if(!orgName){
                        alertMsg("公司名称不能为空");
                        $("#org-input").focus();
                        return ;
                    }

                    if(!username){
                        alertMsg("姓名不能为空");
                        $("#user-name-input").focus();
                        return ;
                    }

                    if(!phone){
                        alertMsg("手机号码不能为空");
                        $("#phone-input").focus();
                        return ;
                    }

                    var regData = {orgName:orgName,username:username,phone:phone,deptName:deptName};

                    $.ajax({
                        url:"/microApp/regist/reg",
                        data:regData,
                        type:'post',
                        dataType:'json',
                        contentType:'application/x-www-form-urlencoded',
                        success:function(res){
                            if(res.success){
                                console.log("success");
                                console.log(res);
                                alertMsg("绑定成功，自动登录中....");
                                setTimeout(function(){
                                    window.location.href="/index/findAll";
                                },1000);
                            }else{
                                alertMsg("绑定失败，请稍后再试");
                            }
                        },
                        error:function(res){
                            console.log("error");
                            console.log(res);
                            alertMsg("注册失败，请稍后再试");
                        },
                        fail:function(res){
                            console.log("fail");
                            console.log(res);
                            alertMsg("注册失败，请稍后再试");
                        }
                    })
                }else{
                    alertMsg("验证码不正确");
                    hideLoading();
                }
                hideLoading();
            });

        })



        /*ajax带着数据去后端注册*/
        function register(registType,regData){
            var urlEnd = "";
            if(registType == 1){
                urlEnd="/supplierAndSalesman";
            }else if(registType == 2){
                urlEnd="/salesman";
            }
            return new Promise(function(resolve, reject){
                $.ajax({
                    url: '/microApp/regist'+urlEnd,
                    data:{'regData':JSON.stringify(regData)},
                    type: 'post',
                    dataType:'json',
                    //contentType: 'application/json;charset=UTF-8',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'  //multipart/form-data;boundary=--xxxxxxx   application/json
                    },
                    success:function(data){
                        resolve(data);
                    },fail:function(data){
                        reject(data);
                    }
                })
            })

        }



    })
</script>
</html>