<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
        <!--导航模块开始-->
        <div class="bottom_div" th:fragment="footer">
            <div>
                <!--        不用topage，发送请求-->
                <a th:href="@{'/index/findAll'}">首页</a>
            </div>
            <div>
                <a th:href="@{'/sche/findList?status_first=1&status_second=4&status_thrid=6&pageNum=1&pageSize=8'}" id="processa">进度</a>
            </div>
            <div>
                <!--        <a th:href="@{'/toPage?url='+my}">我的</a>-->

                <a th:href="@{'/microApp/my/show'}">我的</a>

            </div>
        </div>
</body>