<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <style type="text/css">.b1{white-space-collapsing:preserve;} .b2{margin: 1.0in 1.25in 1.0in 1.25in;} .s1{font-size:24pt;color:#323232;} .s2{color:#323232;} .s3{font-weight:bold;color:#323232;} .s4{color:#323232;background-color:yellow;} .p1{text-align:start;hyphenate:auto;font-family:SimSun;font-size:5pt;} .p2{text-align:start;hyphenate:auto;font-family:SimSun;font-size:24pt;} .p3{text-align:justify;hyphenate:auto;font-family:SimSun;font-size:24pt;}</style>
</head>
<body class="b1 b2">
<p class="p1"> <br> <span class="s1">编号：</span> </p>
<p class="p2"> <span class="s2">甲方： （以下有时也称“用户”）</span> </p>
<p class="p2"> <span class="s2">地址：</span> </p>
<p class="p2"> <span class="s2">主营类目：</span> </p>
<p class="p2"> <span class="s2">QQ号码：</span> </p>
<p class="p2"> <span class="s2">乙方：山东摩尔高分子材料有限公司 （以下有时也称“茉尔易购”）</span> </p>
<p class="p2"> <span class="s3">一、总则</span> </p>
<p class="p2"> <span class="s2">甲、乙双方根据中华人民共和国法律、法规等相关规定，本着诚信、互惠、规范的原则，经友好协商，就甲方接入茉尔易购企业服务平台之相关合作事项，达成一致协议。</span> </p>
<p class="p2"> <span class="s3">二、如无特别说明，下列术语在本协议中的定义为：</span> </p>
<p class="p2"> <span class="s2">（一）茉尔易购企业服务平台，是指由摩尔公司提供技术支持和服务，且由摩尔公司以外的企业发布招投标和采购服务的网络交易平台网站、域名为 。茉尔易购招投标采购服务平台向企业提供的服务以下简称“平台服务”。</span> </p>
<p class="p2"> <span class="s2">（二）用户：申请成为茉尔易购服务平台的企业必须是符合本协议第三条规定的法律实体。</span> </p>
<p class="p2"> <span class="s2">（三）用户注册：是指企业登陆茉尔易购企业服务平台（ ），并按要求填写相关信并获得茉尔易购企业服务平台服务账户的过程。</span> </p>
<p class="p2"> <span class="s2">（四）服务：是指用户通过茉尔易购企业服务平台向用户提供的招标、投标、采购、询价、比价、专家评审、大数据分析设计等服务。&nbsp;</span> </p>
<p class="p2"> <span class="s3">三、申请条件</span> </p>
<p class="p2"> <span class="s2">申请入驻茉尔易购企业服务平台的用户必须全部满足以下条件：</span> </p>
<p class="p2"> <span class="s2">（一） 同意并遵守本协议及茉尔易购企业服务平台公布的其他规则。</span> </p>
<p class="p2"> <span class="s2">（二） 在茉尔易购企业服务平台完成用户注册并通过乙方审核。</span> </p>
<p class="p2"> <span class="s3">四、信息确认</span> </p>
<p class="p2"> <span class="s2">（一）用户必须通过乙方或乙方指定的信息确认方（以下简称“信息确认方”）对用户在申请入驻时提供的相关资料和信息进行核实、确认。具体的信息进行核实、确认的相关资料和信息包括但不限于以下内容：</span> </p>
<p class="p2"> <span class="s2">1，登记的法律实体在实际经营所在地工商部门是否有合法有效的注册记录；</span> </p>
<p class="p2"> <span class="s2">2，登记的联系人在该法律实体的业务身份是否属实；</span> </p>
<p class="p2"> <span class="s2">3，登记的联系人是否获得公司授权；</span> </p>
<p class="p2"> <span class="s2">4，用户提供的营业执照、税务登记证、商标注册证、授权书等相关资料是否属实；</span> </p>
<p class="p2"> <span class="s2">5，法律法规要求和乙方另行所要求需核查的其他信息。</span> </p>
<p class="p2"> <span class="s2">（二）若用户所提供的资料不真实或资料变更或其他原因导致用户未能通过信息确认，用户可在修改资料后要求再次进行信息确认。</span> </p>
<p class="p2"> <span class="s2">（三）对上述信息的任何变更，用户应及时通知乙方，并以书面形式提交“信息变更的再确认申请”，将变更信息交由信息确认方依程序再次确认核实，如再确认未能通过，乙方有权终止本协议而无需承担任何责任。</span> </p>
<p class="p2"> <span class="s2">（四）用户同意为其未及时的通知或更新其信息及上述信息的真实性、完整性与合法性担责，若因此给乙方、乙方用户、茉尔易购企业服务平台合作伙伴等造成损失的，用户同意赔偿全部损失。</span> </p>
<p class="p2"> <span class="s3">五、用户的权利和义务</span> </p>
<p class="p2"> <span class="s2">（一）在用户开始提供相关服务前，用户须按照乙方的要求提交经用户加盖公章确认的营业执照、税务登记证、商标注册证、授权书、服务说明材料等用户在茉尔易购企业服务平台开展相关服务所必须的资料，并向乙方提供联系人、电子邮件地址、联系电话、联系地址、邮政编码等联系信息。用户应确保前述资料和信息的真实、合法、准确、有效，同时用户应在上述资料实际变更时及时更新有资料，且不得以他人资料在茉尔易购企业服务平台进行注册。否则，乙方有权终止本协议，且造成的一切后果由用户自行承担。</span> </p>
<p class="p2"> <span class="s2">（二）用户特别承诺遵守以下约定：</span> </p>
<p class="p2"> <span class="s2">1，用户保证其拥有向用户提供相关服务的合法资质，用户有义务保障其服务符合国家有关法律法规、行政规章的规定，不侵犯任何第三方的包括知识产权在内的合法权益且不违反任何对用户有约束力的法律文件。</span> </p>
<p class="p2"> <span class="s2">2，用户在茉尔易购企业服务平台向用户服务均为真实有效。如出现任何欺诈，乙方有权立即终止本协议，并扣除用户的所有保证金，且保留追究其他相关法律责任的权利。</span> </p>
<p class="p2"> <span class="s3">3，如用户提供的服务上线后，需要进行变更或下线的，用户应当提前10个工作日向乙方提出申请，经乙方确认同意后方可进行操作。</span> </p>
<p class="p2"> <span class="s3">4，如用户希望在媒体上发布任何与乙方相关的新闻、宣传稿件等信息，用户应当提前10个工作日向乙方提出书面申请，经乙方书面确认同意方可进行操作。否则，乙方有权终止本协议，并扣除用户的所有保证金，且保留追究其他相关法律责任的权利。</span> </p>
<p class="p2"> <span class="s3">5，遵守乙方在茉尔易购企业服务平台公布的各项规则。</span> </p>
<p class="p2"> <span class="s2">（三）用户保证有合法的权利缔结本协议，保证自身发布于茉尔易购企业服务平台的信息真实、准确、合法、有效。</span> </p>
<p class="p2"> <span class="s2">（四）用户对自身发布于茉尔易购企业服务平台的信息中所涉服务有合法的处分权及其他合法权利。用户应按照消费者权益保护法、国家强制性标准等法律法规提供服务。</span> </p>
<p class="p2"> <span class="s2">（五）用户在提供服务时应遵守国家法律、法规，在提供服务进行交易的过程中遵守诚实信用的原则，不在交易过程中采取不正当竞争行为，不扰乱网上交易的正常秩序。</span> </p>
<p class="p2"> <span class="s2">（六）用户同意不对茉尔易购企业服务平台上任何数据作本协议目的之外的利用，未经乙方书面许可，不得以复制、传播等方式使用茉尔易购企业服务平台上的任何资料。</span> </p>
<p class="p2"> <span class="s3">（七）用户知悉并同意，财付通公司为协助其资金转移及支付服务的提供方。乙方有权根据本协议约定对用户被冻结的保证金、用户应赔付的款项进行操作。</span> </p>
<p class="p2"> <span class="s3">（八）用户理解并同意，因用户使用其提供的服务所产生的用户投诉、纠纷、争议等均与摩尔公司无关，由用户自行负责处理。若用户未及时妥善处理给摩尔公司造成的损失，用户应当负责赔偿。</span> </p>
<p class="p2"> <span class="s3">六、乙方的权利和义务</span> </p>
<p class="p2"> <span class="s2">（一）乙方负责在现有技术条件下维护茉尔易购企业服务平台交易平台的正常运行；对用户在注册使用茉尔易购企业服务平台交易平台中所遇到并提出的与交易或注册有关的问题，乙方及时作出回复。</span> </p>
<p class="p2"> <span class="s3">（二）因网上交易平台的特殊性，乙方没有义务对所有用户的交易行为以及与交易有关的其它事项进行事先审查。但若存在下列情况，乙方可以普通、非专业人员的知识水平标准对相关内容进行判别，若认为这些内容或行为具有违法或不当性质的，乙方有权根据不同情况选择删除相关信息或中止（或终止）对用户提供平台服务，并追究相关法律责任。</span> </p>
<p class="p2"> <span class="s2">1，第三方通知乙方认为用户或具体交易事项存在重大问题，并侵犯其合法权益的；</span> </p>
<p class="p2"> <span class="s2">2，第三方向乙方告知用户在茉尔易购企业服务平台交易平台上有违法或不当行为的。</span> </p>
<p class="p2"> <span class="s3">（三）乙方有权对用户的注册数据及交易行为进行查阅，若发现注册数据或交易行为中存在有违法或不当的，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。</span> </p>
<p class="p2"> <span class="s2">（四）经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者乙方有足够事实依据可以认定用户存在违法或违反本协议的，乙方有权公布用户的违法和/或违规行为。</span> </p>
<p class="p2"> <span class="s3">（五）用户在茉尔易购企业服务平台交易平台发布的不当信息，乙方有权在不通知用户的前提下进行删除或采取其它限制性措施，上述不当信息包括但不限于：以炒作信用为目的的信息、存在欺诈等恶意或虚假内容的信息、与网上交易无关或不是以交易为目的的信息、存在恶意竞价或其它试图扰乱正常交易秩序因素的信息、违反公共利益或可能严重损害乙方和/或茉尔易购企业服务平台其他用户合法利益的信息。</span> </p>
<p class="p2"> <span class="s3">（六）用户对其在茉尔易购企业服务平台上发布的信息授予乙方许可使用权利，乙方有权对该权利在摩尔公司及其关联公司再授权，乙方有权(全部或部份地)采取使用、复制、改写等方式利用用户公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。</span> </p>
<p class="p2"> <span class="s3">（七）乙方仅为本茉尔易购企业服务平台提供方，不参与用户与第三方所进行的任何交易，对用户的具体交易乙方仅提供技术支持，不对用户行为的合法性、有效性及商品或服务的真实性、合法性和有效性作任何明示或暗示的担保。用户因进行交易、提供有偿服务或接入茉尔易购企业服务平台而发生的所有应纳税赋，均由用户自行负责支付。交易产生的发票，均由用户自行开具。上述用户行为所导致的纠纷由用户自行解决和处理，并承担法律责任，若给乙方、乙方用户和财付通公司造成损失的，用户应予赔偿。</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">七、费用规定</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s2">（一）为鼓励用户提高服务质量和交易额水平，乙方同意本协议合作期限免收甲方技术服务费和年服务费。</span> </p>
<p class="p2"> <span class="s2">（二）乙方应按月通过财付通向用户结算财付通向用户代收取的服务费用。结算流程如下：每月1日启动结算上月用户已验收完毕且不存在异议的订单，15日之前完成结算任务，如遇特殊情况需延迟结算的，乙方应提前通知甲方。</span> </p>
<p class="p2"> <span class="s2">（三）用户收款账户信息如下：</span> </p>
<p class="p2"> <span class="s2">开户银行：</span> </p>
<p class="p2"> <span class="s2">开户名：</span> </p>
<p class="p2"> <span class="s2">银行帐号：</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">八、服务的上线</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s2">（一） 服务将在以下条件全部满足后十四个工作日内上线：</span> </p>
<p class="p2"> <span class="s2">1，用户签署本协议；</span> </p>
<p class="p2"> <span class="s2">2，用户符合本协议第三条规定的申请条件；</span> </p>
<p class="p2"> <span class="s2">3，本协议第九条规定的保证金用户已成功打款至乙方银行账户；</span> </p>
<p class="p2"> <span class="s2">4，乙方已向甲方提交了相关的服务说明资料并已通过甲方审核；</span> </p>
<p class="p2"> <span class="s2">5，乙方未向用户发出拒绝上线的通知；</span> </p>
<p class="p2"> <span class="s2">（二）如用户在签署本协议后十四个工作日内仍未满足本条第一款规定的所有上线条件，则乙方有权不予上线，本协议即告终止。</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">九、保证金及其管理</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">用户同意按本条款规定向乙方缴存一定金额的保证金（该保证金应缴存于乙方指定银行账号）：</span> </p>
<p class="p2"> <span class="s3">1，用户同意，乙方在用户签署本协议、并经审查确认符合申请条件后，用户支付保证金到乙方指定银行账号；乙方开具收据。乙方指引银行账户信息如下：</span> </p>
<p class="p2"> <span class="s3">开户银行：</span> </p>
<p class="p2"> <span class="s3">开户名：</span> </p>
<p class="p2"> <span class="s3">银行帐号：&nbsp;</span> </p>
<p class="p2"> <span class="s3">保证金的额度：</span> </p>
<p class="p2"> <span class="s3">3，乙方有权根据用户之业务变化及实际赔付情况以书面通知的方式（包括但不限于电子邮件、传真等）通知用户调整上述保证金额度，如用户未能在收到通知后的十日内向乙方指定银行账号补足保证金，则乙方有权立即中止提供平台服务或终止本协议；</span> </p>
<p class="p2"> <span class="s3">4，保证金的管理和使用：</span> </p>
<p class="p2"> <span class="s3">用户同意，除保证金的冻结外，乙方有权按以下方式向就保证金的管理和使用发出指令并要求执行：</span> </p>
<p class="p2"> <span class="s3">1）如服务期内用户未有违反茉尔易购企业服务平台各项规则的行为，且至停止使用平台服务后三个月内，用户未受到任何第三方投诉或发生交易纠纷，则乙方将在上述期满后的十个工作日内向用户指定银行账户打款，退还保证金；</span> </p>
<p class="p2"> <span class="s3">2）乙方在以下情况发生时，处置保证金：</span> </p>
<p class="p2"> <span class="s3">&nbsp;&nbsp;(a)&nbsp;在茉尔易购企业服务平台进行的交易中，如用户违反法律、法规、政策或违反其对买家的承诺致买家受损时，用户同意乙方有完全的权力根据自己的判断，直接使用保证金对买家进行赔付；</span> </p>
<p class="p2"> <span class="s3">&nbsp;&nbsp;(b)&nbsp;如用户违反本协议和或茉尔易购企业服务平台任何规则，给乙方造成任何损失，乙方有权直接从保证金中扣除相当于乙方损失的金额，保证金不足以赔偿的，乙方可继续向用户追偿。</span> </p>
<p class="p2"> <span class="s3">3）乙方如使用保证金对第三方进行任何赔付，应以书面方式（包括但不限于电子邮件、传真等）通知用户。在向用户出具的书面通知中，应说明赔付原因及赔付金额。</span> </p>
<p class="p2"> <span class="s3">5，在本协议有效期内，用户应使保证金总额始终保持不低于本协议第九条第2款规定的金额，如发生赔付事件导致保证金数额减少，则乙方有权扣除用户下一次应结算金额以补足保证金；如余额不足，则用户应在赔付发生后十天内补足。保证金不足期间，乙方将部分或全部暂停向用户提供平台服务，如逾期仍未能补足，则乙方有权终止本协议；</span> </p>
<p class="p2"> <span class="s3">6，如保证金不足赔付时，用户应自行支付额外的赔付金额，如因故导致乙方向买家支付了超出保证金数额的款项，或乙方遭受的损失高于可支配的保证金余额，则乙方有权：</span> </p>
<p class="p2"> <span class="s3">1）要求用户偿付乙方的损失，且在指定时间内补足保证金；</span> </p>
<p class="p2"> <span class="s3">2）要求扣除用户下一次应结算金额，以补偿乙方所遭受的损失；</span> </p>
<p class="p2"> <span class="s3">如乙方的损失通过上述两种方式仍无法弥补，则乙方有权单方面终止本协议；</span> </p>
<p class="p2"> <span class="s3">6，用户对买家、任何第三方以及乙方、财付通公司的赔付责任不以保证金的数额为限；除对用户保证金按本协议约定的形式处置外，乙方和财付通公司不对买家或者其他权利人承担任何其它赔付义务。</span> </p>
<p class="p2"> <span class="s2">十，协议的有效期和自动续期</span> </p>
<p class="p2"> <span class="s3">本协议自乙方通过在线方式确认本协议之日起生效，有效期一年。若各方均未在有效期届满前一个月前以书面形式通知解约，则本协议自动续期一年，续期次数不限。&nbsp;</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">十一、协议终止</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">（一）协议任何一方均可以提前三十天以书面通知的方式终止本协议。</span> </p>
<p class="p2"> <span class="s3">（二）用户同意，如用户违反乙方的任何规则或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，乙方都有权立刻终止本协议，且按有关规则或约定对用户进行处罚。</span> </p>
<p class="p2"> <span class="s3">（三）用户在超过三十天的时间内未以用户的账号及密码登录茉尔易购企业服务平台的，乙方有权终止本协议。</span> </p>
<p class="p2"> <span class="s3">（四）如非因乙方的原因，用户未能按本协议的约定按期全额支付有关服务费用，且在乙方定的时限内仍未支付，乙方有权部分或全部中止提供平台服务或终止本协议。</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">十二、通知方式</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s2">用户向乙方发出通知时，应以书面形式通过以下邮址信息递交，通知的到达以乙方收到为准。</span> </p>
<p class="p2"> <span class="s2">乙方地址：</span> </p>
<p class="p2"> <span class="s2">邮编：</span> </p>
<p class="p2"> <span class="s2">收件人：茉尔易购平台中心平台产品组。</span> </p>
<p class="p2"> <span class="s2">（二）乙方可自邮件地址向用户在茉尔易购企业服务平台注册时提供的电子邮件地址发出通知。通知的送达以</span><span class="s4">邮件到达对方电子邮箱</span><span class="s2">为准。同时，乙方也可以在茉尔易购企业服务平台（ ）上公示的方式送达至用户。</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">十三、违约责任</span> </p>
<p class="p2"> <span class="s2">（一）用户应对违反本协议而给乙方造成的任何损失进行赔偿。</span> </p>
<p class="p2"> <span class="s3">（二）用户不得采取任何手段或措施，包括但不限于明示或暗示其用户或通过其他方式转移其可以通过茉尔易购企业服务平台在线达成的交易，或达成交易后不经由财付通服务收取交易金额。否则将视用户为严重违约，乙方将有权立即终止本协议，并将其保证金作为违约金予以划扣，并就违约行为向用户追偿。</span> </p>
<p class="p2"> <span class="s2">（三）如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">十四、不可抗力及免责事由</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s2">因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，乙方不承担责任。本协议所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，协议各方的免责事由包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s3">十五、争议解决及其他</span> </p>
<p class="p2"> <span class="s2">&nbsp;</span> </p>
<p class="p2"> <span class="s2">（一）如本协议的任何条款被视作无效或无法执行，则除上述条款可被分离外，其余部份条款则仍具有法律效力。</span> </p>
<p class="p2"> <span class="s3">（二）本协议之解释、适用、争议解决等一切事宜，均适用中华人民共和国大陆法律；因本协议存在任何争议的，本协议各方应友好协商，协商不成的，协议各方均应将争议提交协议签订地（即深圳市南山区）有管辖权的人民法院诉讼解决。</span> </p>
<p class="p2"> <span class="s2">（三）本协议内容包括协议正文及乙方已经发布的或将来可能发布的各类规则。</span> </p>
<p class="p2"> <span class="s3">（四）乙方有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，乙方将在网站上以公示形式通知予用户。如用户不同意相关变更，必须立即以书面通知的方式终止本协议并同时停止使用茉尔易购企业服务平台。任何修订和新规则一经在茉尔易购企业服务平台上公布即自动生效，成为本协议的一部分。用户登录或继续使用茉尔易购企业服务平台将表示用户接受经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。</span> </p>
<p class="p2"> <span class="s3">（五）本协议相关条款与茉尔易购企业服务平台发布的规则和流程等构成一个完整的、不可分割的协议，用户、乙方应予遵守。如本协议与茉尔易购企业服务平台发布的规则和流程存在冲突的，则以本协议为准。</span> </p>
<p class="p3"></p>
</body>
</html>