<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<script src="/echarts.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
<body onload="Landing_start()"><!--供应商审核-->
<p id="pk_supplier" style="display: none" th:text="${pk_supplier}"></p>
<div style="padding: 12px;" >

    <div style="width: 100%;height: 60px;">
        <div style="width: 100%; height: 40px;">
            <div style="float:left; width: 150px;height: 35px;background-color:#2D93CA;border-radius: 6px;font-size: 20px;text-align:center;color:#fbfbfb;">
                <p style="margin-top: 3px">供应商审核</p>
            </div>
            <div style="float: right;border-radius: 6px;background-color:#eb7350;color:#fbfbfb;width: 120px;height:35px;font-size: 24px;text-align: center;cursor:pointer" onclick="return_top()">
                <p>返 回</p>
            </div>
        </div>
    </div>

    <div>
        <hr class="layui-bg-green">
    </div>
    <div>
        <div style="width: 100%;height: 40px;margin-top: 24px">
            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                <p style="margin: 4px">供应商类型</p>
            </div>
            <input id="supprop" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>

            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;margin-left: 5%">
                <p style="margin: 4px">公司名称</p>
            </div>
            <input id="name" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>
        </div>

        <div style="width: 100%;height: 40px;margin-top: 24px">
            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                <p style="margin: 4px">营业执照号</p>
            </div>
            <input id="buslicensenum" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>

            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;margin-left: 5%">
                <p style="margin: 4px">经营范围</p>
            </div>
            <input id="business_scope" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="只能输入纯数字如 2 代表两年" disabled>
        </div>

        <div style="width: 100%;height: 40px;margin-top: 24px">
            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                <p style="margin: 4px">所在地</p>
            </div>
            <input id="Location" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="请输入标题" disabled>

            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;margin-left: 5%">
                <p style="margin: 4px">注册地</p>
            </div>
            <input id="registered_address" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>
        </div>

        <div style="width: 100%;height: 40px;margin-top: 24px">
            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                <p style="margin: 4px">所属行业</p>
            </div>
            <input id="industry_first" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>

            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;margin-left: 5%">
                <p style="margin: 4px">法人姓名</p>
            </div>
            <input id="legalbody_name" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>
        </div>

        <div style="width: 100%;height: 40px;margin-top: 24px">
            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                <p style="margin: 4px">身份证号</p>
            </div>
            <input id="legalbody_idcard_number" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>

            <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;margin-left: 5%">
                <p style="margin: 4px">手机号</p>
            </div>
            <input id="telephone" style="margin-left: 16px;float:left;width: 35%;height: 26px;font-size: 16px" type="text" placeholder="" disabled>
        </div>

        <div style="margin-top: 24px">
            <div style="width: 100%;height: 35px">
                <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                    <p style="margin: 4px">营业执照图像</p>
                </div>
            </div>
            <div style="width: 95%;height:  200px;border-radius: 6px;border:1px solid #B2B2B2;">
                <div  style="float: left;margin: 24px">
                    <img id="business_licence_img" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
            </div>
        </div>

        <div style="margin-top: 24px">
            <div style="width: 100%;height: 35px">
                <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                    <p style="margin: 4px">法人身份证图像</p>
                </div>
            </div>
            <div style="width: 95%;height:  200px;border-radius: 6px;border:1px solid #B2B2B2;">
                <div  style="float: left;margin: 24px">
                    <img id="legalbody_card_front_img" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
                <div  style="float: left;margin: 24px">
                    <img id="legalbody_card_back_img" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
            </div>
        </div>

        <div style="margin-top: 24px">
            <div style="width: 100%;height: 35px">
                <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                    <p style="margin: 4px">其它证件材料</p>
                </div>
            </div>
            <div style="width: 95%;height:  200px;border-radius: 6px;border:1px solid #B2B2B2;">
                <div  style="float: left;margin: 24px">
                    <img id="additional_one" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
                <div  style="float: left;margin: 24px">
                    <img id="additional_two" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
                <div  style="float: left;margin: 24px">
                    <img id="additional_three" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
                <div  style="float: left;margin: 24px">
                    <img id="additional_four" class="pimg" src="/imge/file.ico" style="height: 140px;width: 120px;">
                </div>
            </div>
        </div>

        <div style="margin-top: 24px">
            <div style="width: 100%;height: 35px">
                <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                    <p style="margin: 4px">备注</p>
                </div>
            </div>
            <div style="width: 95%;height:  200px;border-radius: 6px;border:1px solid #B2B2B2;">
                <div><p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p></div>
            </div>
        </div>

        <div style="margin-top: 24px">
            <div style="width: 100%;height: 35px">
                <div style="float:left;width: 120px; height: 30px;background-color:#2D93CA;border-radius: 6px;font-size: 16px;text-align:center;color:#fbfbfb;">
                    <p style="margin: 4px">保证金</p>
                </div>
            </div>
            <div style="width: 95%;height:  50px;border-radius: 6px;border:1px solid #B2B2B2;">
                <div><p id="money">已缴纳 2000元</p></div>
            </div>
        </div>
        <div>
            <div style="width: 50%;height: 60px;margin:  0 auto;margin-top: 36px">
                <div style="float: left;border-radius: 6px;background-color: #2D93CA;color:#fbfbfb;width: 120px;height:40px;font-size: 24px;text-align: center;cursor:pointer" onclick="Adopt()">
                    <p>通 过</p>
                </div>
                <div style="float: left;margin-left: 10%;border-radius: 6px;background-color: #3F3F3F;color:#fbfbfb;width: 120px;height:40px;font-size: 24px;text-align: center;cursor:pointer" onclick="Refuse()">
                    <p>拒 绝</p>
                </div>
                <div style="float: left;margin-left: 10%;border-radius: 6px;background-color:#eb7350;color:#fbfbfb;width: 120px;height:40px;font-size: 24px;text-align: center;cursor:pointer" onclick="return_top()">
                    <p>返 回</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
    <button data-method="notice" class="layui-btn">示范一个公告层</button>
</div>


<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>


<script src="/layui/layui.all.js"></script>
<script th:src="@{/js/city.js}"></script>

<script>

    function Landing_start()
    {
        $.ajax({
            type:'post',
            data:{"pk_supplier":document.getElementById("pk_supplier").innerText}, //传送指定的专家id
            dataType:'json',
            url: "/SetSupplierinfor/LandingSupplierinfor",
            success: function(data)
            {
                console.log(data)
                document.getElementById("supprop").value=data.supprop;
                document.getElementById("name").value=data.name;
                document.getElementById("buslicensenum").value=data.buslicensenum;

                document.getElementById("registered_address").value=data.registered_address;
                document.getElementById("industry_first").value=data.industry_first;
                document.getElementById("legalbody_name").value=data.legalbody_name;
                document.getElementById("legalbody_idcard_number").value=data.legalbody_idcard_number;
                document.getElementById("telephone").value=data.telephone;
                document.getElementById("money").innerText="已缴纳"+data.money+" 元";
                //将图片的Base64编码设置给src
                if (data.business_licence_img!=null)
                {
                    $("#business_licence_img").attr("src","data:image/png;base64,"+data.business_licence_img);
                }
                if (data.legalbody_card_front_img!=null)
                {
                    $("#legalbody_card_front_img").attr("src","data:image/png;base64,"+data.legalbody_card_front_img);
                }
                if (data.legalbody_card_back_img!=null)
                {
                    $("#legalbody_card_back_img").attr("src","data:image/png;base64,"+data.legalbody_card_back_img);
                }
                if (data.additional_one!=null)
                {
                    $("#additional_one").attr("src","data:image/png;base64,"+data.additional_one);
                }
                if (data.additional_two!=null)
                {
                    $("#additional_two").attr("src","data:image/png;base64,"+data.additional_two);
                }
                if (data.additional_three!=null)
                {
                    $("#additional_three").attr("src","data:image/png;base64,"+data.additional_three);
                }
                if (data.additional_four!=null)
                {
                    $("#additional_four").attr("src","data:image/png;base64,"+data.additional_four);
                }


                if(data.location_province_js_index!=null && data.location_province_js_index!="")//拿出供应商地址
                {
                    document.getElementById("Location").value=city[data.location_province_js_index].name ;
                    if (data.location_city_js_index!=null && data.location_city_js_index!="")
                    {
                        document.getElementById("Location").value=document.getElementById("Location").value+" "+city[data.location_province_js_index].sub[data.location_city_js_index].name ;
                        if (data.location_area_js_index!=null && data.location_area_js_index!="")
                        {
                            document.getElementById("Location").value=document.getElementById("Location").value+" "+city[data.location_province_js_index].sub[data.location_city_js_index].sub[data.location_area_js_index].name;
                        }
                    }
                }
            },
            error:function(data)
            {
                alert('响应失败！');
            }
        });


    }
    function File_upload(url,upload_type_id)//上传文件的方法，参数 url controller地址 上传文件类型的div id 如名片div的id 或者 身份材料的divid
    {
        var form = new FormData(document.getElementById(upload_type_id));//"domeform"
        $.ajax({
            url: url,//"/File_Receive/Receive_default_file",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function(data)
            {
                alert("123456")
            },
            error: function(e)
            {
                console.log(e);
            }
        });
    }


    layui.use(['form', 'layedit', 'laydate'], function()
    {
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

    });
    function  Save_form()
    {
        File_upload("/File_Receive/Receive_default_file","domeform")
    }


    $(document).ready(function(){
        $(".pimg").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });

    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

        /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
            $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });

        $(outerdiv).click(function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }

    function Adopt() //同意
    {
        if (confirm("确认同意吗？"))
        {
            $.ajax({
                type:'post',
                data:{"pk_supplier":document.getElementById("pk_supplier").innerText,"supstate_single":1}, //传送指定的专家id
                dataType:'json',
                url: "/SupplierToExamine/AgreeOrRefuse",
                success: function(data)
                {
                    return_top()
                },
                error:function(data)
                {
                    alert('响应失败！');
                }
            });
        }
    }
    function Refuse() //拒绝
    {
        if (confirm("确认拒绝吗？"))
        {
            $.ajax({
                type:'post',
                data:{"pk_supplier":document.getElementById("pk_supplier").innerText,"supstate_single":4}, //传送指定的专家id
                dataType:'json',
                url: "/SupplierToExamine/AgreeOrRefuse",
                success: function(data)
                {
                    return_top()
                },
                error:function(data)
                {
                    alert('响应失败！');
                }
            });
        }
    }
    function return_top()//返回上一层
    {
        if (confirm("退出后数据将不会保存！"))
        {
            parent.close_Details_page();
        }
    }


    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {

            notice: function(){
                //示范一个公告层
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['火速围观', '残忍拒绝']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').click(function(){
                            console.log(111)
                        });

                        btn.find('.layui-layer-btn1').click(function(){
                            console.log(222)
                        });
                    }
                });
            }

        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });

</script>



</body>
</html>