<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>基础供应商认证</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
		<div id="1">
			<div class="page-header">
			  <h1> <small>基础供应商认证</small></h1>
			</div>
		</div>
		<!-- 公司名称开始 -->
		<div class="input-group" style="margin:16px 6px 0 10px ">
		  <span class="input-group-addon" id="basic-addon1">公司名称：</span>
		  <input type="text" class="form-control" placeholder="Company name" aria-describedby="basic-addon1">
		</div>
		<!-- 公司名称结束 -->
		<!-- 营业执照号开始 -->
		<div class="input-group" style="margin:6px 6px 0 10px ">
		  <span class="input-group-addon" id="basic-addon1">营业执照号：</span>
		  <input type="text" class="form-control" placeholder="Business license number" aria-describedby="basic-addon1">
		</div>
		<!--营业执照号开始 -->
		<!-- 上传营业执照图片开始 -->
		<div style="margin: 6px 6px 0 15px;">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">上传营业执照图像</a></li>
			</ul>
			<div class="control-group" id="upimg">
			    <label class="col-md-3 control-label span3"></label>
			    <div class="col-md-9">
			        <img id="img1" src="img/upimg.png" width="70px" height="70px" id="upimg">
			    </div>
			</div>
			
			<div class="control-group">
			
			    <div class="col-md-9">
			        <div class="input-group">
			            <label class="input-group-btn">
			                <input  class="file" id="file" type="file" name="img1" style="left: -9999px; position: absolute;">
			                <span class="btn btn-default">点击上传</span>
			            </label>
			        </div>
			    </div>
			</div>
		</div>
		<!-- 上传营业执照图片结束 -->
		<!-- 所在地开始 -->
		<div style="clear: both;margin-top: 6px;">
			<p style="float: left;font-size: 15px;margin-top: 5px;" class="col-xs-3 col-md-3">所在地：</p>
			<div class="dropdown col-xs-3 col-md-3" style="float: left;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				省份
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
			</div>
			<div class="dropdown col-xs-3 col-md-3" style="float: left;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				城市
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
			</div>
			<div class="dropdown col-xs-3 col-md-3" style="float: left;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				区县
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
			</div>
		</div>
		<!-- 所在地结束 -->
		<!-- 注册地开始 -->
		<div class="input-group" style="margin:48px 6px 0 10px;clear: both; ">
		  <span class="input-group-addon" id="basic-addon1">注册地：</span>
		  <input type="text" class="form-control" placeholder="Place of registration" aria-describedby="basic-addon1">
		</div>
		<!-- 注册地结束 -->
		<!-- 所属行业开始 -->
		<div style="margin: 6px 6px 0 10px;clear: both;" >
			<p style="float: left;font-size: 12px;margin-top: 12px;padding-left: 10px;" class="col-xs-4 col-md-4">所属行业：</p>
			<div class="dropdown col-xs-8 col-md-8" style="float: left;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				机械零件
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
			</div>
		</div>
		<!-- 所属行业结束 -->
		<!-- 经营范围开始 -->
		<div id="1" style="clear: both;margin:6px 6px 0 10px;">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">经营范围</a></li>
			</ul>
			<textarea style="width: 100%; "></textarea>
		</div>
		<!-- 经营范围结束 -->
		<!-- 上传法人身份证正反面开始 -->
		<div id="1"style="margin:6px 6px 0 10px;">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">上传法人身份证正反面</a></li>
			</ul>
			<!-- 第一个 -->
			<div style="float: left;" class="col-xs-6 col-md-4">
				 <div class="control-group" id="upimg">
				    <label class="col-md-3 control-label span3"></label>
				    <div class="col-md-9">
				        <img id="img2" src="img/upimg.png" width="70px" height="70px" id="upimg">
				    </div>
				</div>
				
				<div class="control-group">
				
				    <div class="col-md-9">
				        <div class="input-group">
				            <label class="input-group-btn">
				                <input  class="file" id="file" type="file" name="img2" style="left: -9999px; position: absolute;">
				                <span class="btn btn-default">点击上传</span>
				            </label>
				        </div>
				    </div>
				</div>
			</div>
			<!-- 第二个 -->
			<div style="float: right;" class="col-xs-6 col-md-4">
				 <div class="control-group" id="upimg">
				    <label class="col-md-3 control-label span3"></label>
				    <div class="col-md-9">
				        <img id="img3" src="img/upimg.png" width="70px" height="70px" id="upimg">
				    </div>
				</div>
				
				<div class="control-group">
				
				    <div class="col-md-9">
				        <div class="input-group">
				            <label class="input-group-btn">
				                <input  class="file" id="file" type="file" name="img3" style="left: -9999px; position: absolute;">
				                <span class="btn btn-default">点击上传</span>
				            </label>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<!-- 上传法人身份证正反面结束 -->
		<!-- 法人姓名开始 -->
		<div class="input-group" style="margin:135px 6px 0 10px ;clear: both;">
		  <span class="input-group-addon" id="basic-addon1">法人姓名：</span>
		  <input type="text" class="form-control" placeholder="Name of legal person" aria-describedby="basic-addon1">
		</div>
		<!-- 法人姓名结束 -->
		<!-- 身份证号开始 -->
		<div class="input-group" style="margin:6px 6px 0 10px ">
		  <span class="input-group-addon" id="basic-addon1">身份证号：</span>
		  <input type="text" class="form-control" placeholder="ID number" aria-describedby="basic-addon1">
		</div>
		<!-- 身份证号结束 -->
		<!-- 上传战略供应商协议开始 -->
		<div id="1"style="margin:6px 6px 0 10px;">
			<ul class="nav nav-tabs" >
			  <li role="presentation" class="active"><a href="#">上传战略供应商协议</a></li>
			</ul>
			
			<div  class="col-xs-6 col-md-4">
				 <div class="control-group" id="upimg">
				    <label class="col-md-3 control-label span3"></label>
				    <div class="col-md-9">
				        <img id="img4" src="img/upimg.png" width="70px" height="70px" id="upimg">
				    </div>
				</div>
				
				<div class="control-group">
				
				    <div class="col-md-9">
				        <div class="input-group">
				            <label class="input-group-btn">
				                <input  class="file" id="file" type="file" name="img4" style="left: -9999px; position: absolute;">
				                <span class="btn btn-default">点击上传</span>
				            </label>
				        </div>
				    </div>
				</div>
			</div>

			<div style="margin-top: 24px;text-align: right;margin-right: 16px;">
				<a class="nav nav-pills" href="#" >下载样本</a>
			</div>
			
		</div>
		<!-- 上传战略供应商协议结束 -->
		<!-- 其他补充材料开始 -->
		<div id="1" style="margin-top: 6px;">
			<ul class="nav nav-tabs" >
			  <li role="presentation" class="active"><a href="#">其他补充材料（专利/代理商资质等材料）</a></li>
			</ul>
			<div style="float: left;" class="col-xs-6 col-md-4">
				 <div class="control-group" id="upimg">
				    <label class="col-md-3 control-label span3"></label>
				    <div class="col-md-9">
				        <img id="img5" src="img/upimg.png" width="70px" height="70px" id="upimg">
				    </div>
				</div>
				
				<div class="control-group">
				
				    <div class="col-md-9">
				        <div class="input-group">
				            <label class="input-group-btn">
				                <input  class="file" id="file" type="file" name="img5" style="left: -9999px; position: absolute;">
				                <span class="btn btn-default">点击上传</span>
				            </label>
				        </div>
				    </div>
				</div>
			</div>
			<!-- 第二个 -->
			<div style="float: left;" class="col-xs-6 col-md-4">
				 <div class="control-group" id="upimg">
				    <label class="col-md-3 control-label span3"></label>
				    <div class="col-md-9">
				        <img id="img6" src="img/upimg.png" width="70px" height="70px" id="upimg">
				    </div>
				</div>
				
				<div class="control-group">
				
				    <div class="col-md-9">
				        <div class="input-group">
				            <label class="input-group-btn">
				                <input  class="file" id="file" type="file" name="img6" style="left: -9999px; position: absolute;">
				                <span class="btn btn-default">点击上传</span>
				            </label>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<!-- 其他补充材料结束 -->
		<!-- 手机号开始 -->
		<div class="input-group" style="margin:130px 6px 0 10px ">
		  <span class="input-group-addon" id="basic-addon1">手机号：</span>
		  <input type="text" class="form-control" placeholder="Phone number" aria-describedby="basic-addon1">
		</div>
		<!-- 手机号结束 -->
		<!-- 验证码开始 -->
		<div class="input-group" style="margin:6px 6px 0 5px ">
			<div class="input-group" id="1" style="float: left;margin-left: 6px;">
				<input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon2" >
			</div>
			<div id="1" class="input-group" style="float: right;">
				<input class="form-control"  type="button" name="" id="verCodeBtn" value="获取验证码" onclick="settime(this);"/>
			</div>
		</div>
		<!-- 验证码结束 -->
		<!-- 提交开始 -->
		<button type="button" class="btn btn-danger" style="margin-top: 20px;width: 100%;">提交</button>
		<!-- 提交结束 -->

</body>
<script>
	 $(function () {
	    $(".file").change(function (e) {
			console.log(e)
			console.log(e.target.outerHTML)
			var outH=e.target.outerHTML;//2left.html:97 <input id="file" type="file" name="img1" style="left: -9999px; position: absolute;">
			var index=outH.indexOf("name=");
			var newout=outH.substr(index+6);//name="img1" style="left: -9999px; position: absolute;">
			var s=newout.split("\"");
			var id =s[0];
	        var file = e.target.files[0] || e.dataTransfer.files[0];
	        // $('#photoCover').val(document.getElementById("file").files[0].name);
	        if (file) {
	            var reader = new FileReader();
	            reader.onload = function () {
	                $("#"+id).attr("src", this.result);
	            }
	
	            reader.readAsDataURL(file);
	        }
	    });
	})
	//验证码
	var count =60;
	function settime(val){
		if(count ==0){
			val.removeAttribute("disabled");
			val.value="发送验证码";
			count =60;
			return false;
		}else{
			val.setAttribute("disabled",true);
			val.value="重新发送("+count+")";
			count--;
		}
		setTimeout(function(){
			settime(val)
		},1000)
	}	 



</script>
</html> 
