<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>供应商认证</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <script src="js/bootstrap.min.js"></script>
    <style>
       
    </style>
</head>
<body>
	<div id="1" style="width: 100%;margin-top: 15px">
		<div class="page-header">
		  <h1  style="text-indent: 1em;"> <small>此次认证茉尔易购将产生保证金费用，当退出 茉尔易购平台时，该费用可申请退回。</small></h1>
		</div>

		<div style="text-align: center;font-size: 22px;font-weight: bold;">
			<label style="">2000</a>
			<span>元</span>
		</div>
	</div>
	<button type="button" class="btn btn-danger" style="width: 100%;position: absolute;bottom: 5px;right: 5px;">立即支付</button>

</body>
<script>

</script>
</html>