<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>采购详情</title>
    <!-- Bootstrap -->
    <!--    <link href="css/bootstrap.min.css" rel="stylesheet">-->


    <!--    &lt;!&ndash; jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) &ndash;&gt;-->
    <!--    <script src="js/jquery-3.2.1.min.js"></script>-->
    <!--    &lt;!&ndash; 加载 Bootstrap 的所有 JavaScript 插件。 &ndash;&gt;-->
    <!--    <script src="js/bootstrap.min.js"></script>-->
    <!--    <script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="UTF-8"></script>-->
    <!--    <script src="js/jquery-migrate-1.0.0.js" type="text/javascript" charset="UTF-8"></script>-->

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery) -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>


    <style>
        .bor{
            margin-top: 16px;
            margin-bottom: 10px;
        }
        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: #aab2bd;
            /* placeholder字体大小  */
            font-size: 12px;
        }
    </style>
</head>

<body>
<div style="text-align: center;margin: 8px 0px 8px 0px ;font-weight: bold;font-size: 22px;">
    报价
</div>
<div>
    <div >
        <span class="col-xs-1 col-md-1 bor" style="font-size: 12px"></span>
        <span class="col-xs-2 col-md-2 bor" style="font-size: 12px">名称</span>
        <span class="col-xs-2 col-md-2 bor" style="font-size: 12px">规格</span>
        <span class="col-xs-2 col-md-2 bor" style="font-size: 12px">数量</span>
        <span class="col-xs-3 col-md-3 bor" style="font-size: 12px">报价</span>
        <span class="col-xs-2 col-md-2 bor" style="font-size: 12px">总计</span>
    </div>
</div>
<div >
<!--    <form action="/index/getQuoteFromForm" method="post" id="form1" onsubmit="return checkForm(this.id)">-->
    <form id="form1"  name="form1" onsubmit="return false" >
        <div th:each="er,in:${purList}" style="height: 130px;" class="each">
            <span class="col-xs-1 col-md-1 bor"  th:text="${in.index}+1" >1</span>
            <span class="col-xs-2 col-md-2 bor"  th:text="${er.itemName}" style="font-size: 12px">名称</span>
            <span class="col-xs-2 col-md-2 bor"  th:text="${er.norms}" style="font-size: 12px">规格</span>
<!--            数量-->
            <span class="col-xs-2 col-md-2 bor" ><input  th:value="${er.count}" readonly="readonly" th:id="co+${in.index}" style="width: 100%;outline: snow;border: none;"/></span>
<!--            报价-->
            <span class="col-xs-3 col-md-3 bor"><input class="capital" th:name="${'quotes['+in.index+'].quote'}"  th:id="in+${in.index}" style="width: 100%;border: none;"  onblur="inputBlur(this.id)"  onclick="clic(this.id)" value="0.00"/></span>
<!--            总计-->
            <span class="col-xs-2 col-md-2 bor"  style="font-size: 12px" th:id="sum+${in.index}"></span>
<!--            id-->
            <input type="hidden" th:id="id+${in.index}" th:name="${'quotes['+in.index+'].pkMaterialId'}"  th:value="${er.materialId}" style="clear: both;float: left;height: 1px;"/>
            <!--物品id-->
            <input type="hidden" th:id="pur+${in.index}" th:name="${'quotes['+in.index+'].fyPurchaseId'}"  th:value="${er.fyPurchaseId}" style="clear: both;float: left;height: 1px;"/>
            <!--            品均价-->
            <input type="hidden" th:id="avg+${in.index}" th:value="${er.avgPriceHistory}" style="float: right;height: 1px;"/>
            <input class="col-xs-12 col-md-12 " th:name="${'quotes['+in.index+'].reason'}" th:id="bei+${in.index}" type="hidden"  placeholder="该报价高于您往期的报价，如价格上调请备注说明"/>
            <hr style="height:3px;border:none;border-top:3px double dodgerblue;" />
            <input type="hidden"  th:id="size+${in.index}" th:value="${in.size}" style="float: right;height: 1px;"/>

            <!-- 公司id-->
            <input type="hidden" th:id="sup+${in.index}" th:name="${'quotes['+in.index+'].pkSupplierId'}" style="float: right;height: 1px;">
            <!-- 职员id-->
            <input type="hidden" th:id="saleman+${in.index}" th:name="${'quotes['+in.index+'].supplierSalesmanId'}" style="float: right;height: 1px;">

        </div>
<!--        供货周期-->
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">供货周期</span>
            <input type="text" class="form-control" placeholder="请输入供货周期" aria-describedby="basic-addon1" th:name="${'quotes[0].supplyCycle'}">
        </div>
<!--        <input type="submit" value="提交">-->
        <button  class="btn btn-primary" style="margin-left: 42%;margin-top: 12px;" onclick="sub()" id="subBtn">提交</button>
        <!-- 公司id-->
        <input type="hidden" id="purId"  th:value="${purId}" style="float: right;height: 1px;">

    </form>
</div>
</body>
<script th:inline="javascript">

    function sub () {
        var orNull= checkForm();
        if (!orNull){
            return;
        }
        var _purId=$("#purId").val();
        var i=false ;
            $.ajax({
                type: "post",
                url: "/index/getQuoteFromForm",
                data: $('#form1').serialize(),
                async:false,
                dataType:'json',
                success:function (data) {
                    alert(data.result);
                    // window.location.reload()
                    // location.href="/index/selectOne?id="+_purId;
                    window.history.go(-2)
                },
                fail:function (data) {
                    console.log(data)
                }
            })

    }



    function clic(e) {
        var e_num=e.substr(2,5)+"";
        var x=document.querySelectorAll('.capital')

        var precapital;
        x[e_num].addEventListener('click', function() {
            console.log("进来"+this.value)
            if (this.value == '0.00') {
                this.value = '';
            } else {
                this.value = this.value.replace(/\.00/, '').replace(/(\.\d)0/,'$1');
            }
            precapital = this.value;
        });
        x[e_num].addEventListener('keyup', function() {

            this.value = this.value.replace(/^[\.]/, '').replace(/[^\d.]/g, '');
            if (this.value.split(".").length - 1 > 1) {
                this.value = precapital;
            }
            precapital = this.value;
        });
        x[e_num].addEventListener('blur', function() {
            this.value = this.value.replace(/[\.]$/, '');
            this.value = this.value.replace(/(.*)\.([\d]{2})(\d*)/g,'$1.$2');
            this.value = Number(this.value).toFixed(2);
            var logNum = this.value.toString();

        });
    }
    //----
    function inputBlur(e) {

        //拿到索引
        console.log(e)

        var e_num=e.substr(2,5)+"";
        console.log(e_num)
        //拿到报价
        var price=$("#"+e).val()*1;
        //拿到数量
        var count =$("#co"+e_num).val();
        //合计
        $("#sum"+e_num).text(price*(count*1));
        //品均价
        var avg =$("#avg"+e_num).val();

        if (avg != 0){
            if (price>avg){
                $("#bei"+e_num).attr("type","");
            }else {
                $("#bei"+e_num).attr("type","hidden");
            }
        }

    }

    function checkForm(au) {



        var count= $("#size0").val();
        console.log("提交："+count)
        for (var i=0;i<count;i++){
            var d="in"+i;
            var pri =$("#"+d).val();
            if (pri=="0.00"){
                alert("有未报价的内容")
                return false;
                break;
            }
        }
        return true;
    }


</script>
</html>