<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.purchase.mapper.fyOracle.dingding.purchase.EnquiryOraclMapper">
    <select id="getOraclId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        pk_material
        from
        bd_material@ncdb
        where name =#{itemName}
    </select>
</mapper>