<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
<body onload="Start_landing()">
<!--电子合同详情页-->
<div style="padding: 2px;">
    <div>
        <div style="margin-top: 6px;margin-left: 12px;padding:4px;background-color: #2D93CA;border-radius: 5px;width: 60px;color: #fbfbfb;text-align: center">
            <p >详情页</p>
        </div>

        <div style="margin: 12px; width:98%;height: 100px; background-color: #009F95;border-radius:12px;color: #fbfbfb;padding: 12px">
            <div style="width: 100%;">
                <p id="Tilte_name" th:text="${goods_name}" style="font-size: 24px;display: inline-block">标题零部件名字</p>
                <p style="font-size: 16px;display: inline-block;margin-top: 6px;float:right;cursor:pointer;margin-right: 12px" onclick="return_top()">返 回</p>
            </div>
            <div style="font-size: 16px;width: 100%;float: left;margin-top: 12px">
                <p id="Oreder_number" style="display: inline-block" th:text="${Oreder_number}"></p><!--订单编号-->
                <p  id="People" th:text="${user_name}" style="display: inline-block;float: right;margin-right: 12px" >申请人:王XX</p>
            </div>
            <div style="width: 100%; float: left;font-size: 16px;margin-top: 12px">
                <p id="Merchant_number" style="float: left;" >已报价商家:2</p>
                <p  id="Create_time" th:text="${create_time}" style="float:right;margin-right: 12px"  color="#FBFBFB" >发布日期:2019-09-01</p>
            </div>
        </div>
        <div style="margin-top: 6px;margin-left: 12px;padding:4px;background-color:#2D93CA;border-radius: 5px;width: 60px;color: #fbfbfb;text-align: center">
            <p >采购单</p>
        </div>

        <div style="margin: 12px">
            <table class="layui-hide" id="test" lay-filter="test1"></table>
        </div>
        <form id="File_upload_form" method="post" enctype="multipart/form-data">
            <div id="table_panel" style="margin-left: 12px">

            </div>
        </form>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script th:inline="javascript">
    function Start_landing()
    {
        layui.use('table', function(){
            var table = layui.table;

            $.ajax({
                type: 'POST',
                url: '/PurchasOrderinfor/PlannedPurchaseben',
                dataType: 'json',
                data:{PurchasId:document.getElementById("Oreder_number").innerText.split(":")[1]},
                // headers:{  'eticket': app.globalData.eticket},
                success: function (data) {

                    var Data = data
                    table.render({
                        elem: '#test'
                        , data:Data
                        ,cols: [
                            [
                                {field:'number', width:80, title: '序号', sort: true}
                                ,{field:'name', width:150, title: '名称'}
                                ,{field:'materialspec', width:200, title: '规格'}
                                ,{field:'pk_measdoc', width:150, title: '单位'}
                                ,{field:'goods_quantity', width:280,title: '数量', minWidth: 150}
                            ]
                        ]
                        ,page: true
                    });
                },
                error: function (data) {
                    alert("获取审核议价信息失败")
                }
            });
        });

        layui.use('table', function(){//供应商报价单
            var table = layui.table;


            $.ajax({
                type: 'POST',
                url: '/PurchasOrderinfor/OrderDetailedinfor',
                dataType: 'json',
                data:{PurchasId:document.getElementById("Oreder_number").innerText.split(':')[1]},
                // headers:{  'eticket': app.globalData.eticket},
                success: function (data) {

                    document.getElementById("Merchant_number").innerText="已报价商家数:"+data.length+" 家"
                    for (var n=0;n<data.length;n++)//所有供应商报价
                    {
                        var elements= document.createElement('div')
                        elements.innerHTML=

                            '<div style="margin-top: 12px;margin-left: 12px;width: 100%;height: 50px;">'+
                            '<div style="float: left;margin-top: 6px;margin-right: 12px;padding:4px;background-color: #2D93CA;border-radius: 5px;color: #fbfbfb;text-align: center">'+
                            ' <p >'+data[n][0].corp_name+' 报价</p>'+
                            ' </div>'+
                            ' <div style="float: right;margin-top: 6px;margin-right: 12px;padding:4px;background-color:#eb7350;border-radius: 5px;color: #fbfbfb;text-align: center">'+
                            ' <p >总计 200元</p>'+
                            ' </div>'+
                            '</div>'+ '<table class="layui-hide" id="test'+n+'" lay-filter="test2"></table>'+
                            '<div style="margin: 12px">' +
                            '<input  onchange="File_upload()" id="files" name="file" type="file" style="display: none" >' +
                            '        <div onclick="click_input()" style="cursor:pointer;margin-top: 6px;margin-left: 12px;padding:4px;background-color:#009688;width: 70px;color: #fbfbfb;text-align: center">' +
                            '            <p >上传合同</p>' +
                            '        </div>' +
                            '</div>'
                        ;

                        document.getElementById("table_panel").appendChild(elements);

                        var Data = data[n];

                        table.render({
                            elem: '#test'+n
                            , data:Data
                            ,cols: [
                                [
                                    {field:'number', width:80, title: '序号', sort: true}
                                    ,{field:'material_name', width:150, title: '物料名称'}
                                    ,{field:'materialspec', width:200, title: '规格', sort: true}
                                    ,{field:'unit', width:150, title: '单位'}
                                    ,{field:'quote', width:150, title: '报价', sort: true}
                                    ,{field:'l8', width:120,event: 'setl8', title: '操作',sort: true}
                                ]
                            ]
                            ,page: true
                        });
                    }
                },
                error: function (data) {
                    alert("获取审核议价信息失败")
                }
            });

        });
    }


    function click_input()//上传合同
    {
       document.getElementById("files").click()
    }

    function File_upload()//上传文件的方法，参数 url controller地址 上传文件类型的div id 如名片div的id 或者 身份材料的divid
    {
        var files = new FormData(document.getElementById('File_upload_form'));//"domeform"
        files.set("userid",[[${session.userid}]].toString());//传一个专家id


        $.ajax({
            url: "/ElectronicContractSigninginforController/Upload_Contract",
            type: "post",
            data: files,//,img_business:img_business,img_documents:img_documents},
            processData: false,
            contentType: false,
            success: function(data) {
                alert("123456")
            },
            error: function(e) {
                console.log(e);
            }
        });
    }

    function return_top()//返回上一层
    {
        parent.close_Details_page();
    }
</script>
</body>
</html>