<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.supplier.mapper.newMysql.third.TpMapper">
    <select id="findAll" resultType="com.mol.supplier.entity.thirdPlatform.Enter">
        SELECT * FROM tp_enter
    </select>

    <select id="findLunBo" resultType="com.mol.supplier.entity.thirdPlatform.Lunbo">
        SELECT id, name,state,image from fy_lunbo where state =1;
    </select>

    <select id="findList" resultType="com.mol.supplier.entity.dingding.solr.fyPurchase" parameterType="java.lang.String">
        select id,title,goods_type,status,create_time,order_number,buy_channel_id,pk_supplier from fy_purchase fu where buy_channel_id =#{id} ORDER BY fu.create_time desc
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT  COUNT(id) from fy_purchase  where buy_channel_id =#{id}
    </select>

    <select id="findTypeList" resultType="java.lang.String">
        select name from item_type;
    </select>

    <select id="selectOneById" resultType="com.mol.supplier.entity.dingding.solr.fyPurchase" parameterType="java.lang.String">
        select * from fy_purchase where id =#{id}
    </select>
</mapper>