<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.supplier.mapper.third.FyQuoteMapper">
    <insert id="saveQuote" parameterType="com.mol.supplier.entity.thirdPlatform.FyQuote">
        insert into fy_quote values(#{id} ,#{fyPurchaseId},#{pkMaterialId},#{quote},#{reason},#{pkSupplierId},#{supplierSalesmanId},#{creationtime},#{supplyCycle},#{expertRecommendation})
    </insert>
    <select id="getListBySupplier" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT fy_purchase_id FROM `fy_quote` where pk_supplier_id=1 ORDER BY creationtime
    </select>
    <select id="findFypurchaseIdListById" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT DISTINCT
        pk_supplier_idfindQuoteBySupplierIdAndPurchaseId
    FROM
        fy_quote
    WHERE
        fy_purchase_id =#{id}
    </select>
    <select id="findQuoteBySupplierIdAndPurchaseId" parameterType="java.lang.String" resultType="com.mol.supplier.entity.thirdPlatform.FyQuote">
        select * from fy_quote where fy_purchase_id=#{id}
        <if test="supplierId!=null and supplierId!=''">
            and pk_supplier_id=#{supplierId}
        </if>
    </select>
    <select id="findIdByPurIdAndPkMatIdAndSupplierId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id FROM `fy_quote` e where e.fy_purchase_id=#{purId} and e.pk_material_id=#{materId} and e.pk_supplier_id=#{supplierId}
    </select>
    <select id="findFypurchaseIdListBySupplierId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT fy_purchase_id FROM `fy_quote` where pk_supplier_id=#{id}
    </select>
    <select id="findQuoteByid" parameterType="java.lang.String" resultType="com.mol.supplier.entity.thirdPlatform.FyQuote">
        select * from fy_quote where id=#{quoteId}
    </select>
    <select id="findPassQuoteByPurId" resultType="com.mol.supplier.entity.thirdPlatform.FyQuote" parameterType="java.lang.String">
        select * from fy_quote where id in
        (select quote_id from fy_purchase_detail where fy_purchase_id=#{id})
    </select>
</mapper>