<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.expert.mapper.newMysql.dingding.workBench.PoOrderMapper">
    <select id="getBigDataBySuppliedAndpkMaterialId" parameterType="java.lang.String" resultType="com.mol.expert.entity.dingding.purchase.workBench.BigDataStar">
       select
            bm.name,pob.norigprice,po.dmakedate,po.pk_supplier
        from
        po_order_b pob
        LEFT join bd_material bm on bm.pk_material = pob.pk_material
        LEFT join po_order po on pob.pk_order =po.pk_order
        where
        <if test="supplierId!=null">
            po.pk_supplier=#{supplierId}
            and
        </if>

        pob.pk_material=#{pkMaterialId}
        ORDER BY po.dmakedate ASC
    </select>
    <select id="getNorigpriceBySupplierIdAndMaterialId" parameterType="java.lang.String" resultType="java.lang.Double">
        SELECT
            pob.norigprice
        FROM
            po_order_b pob
            LEFT JOIN po_order po ON po.pk_order = pob.pk_order
        WHERE
            po.pk_supplier = #{supplierId}
            AND pob.pk_material = #{id}
        ORDER BY
            po.creationtime DESC
    </select>
</mapper>