<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="/layui/css/layui.css">
<script src="/echarts.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
<body onload="Landing_start()"><!--议价流程设置-->
<div style="padding: 16px" id="datagridview">
    <div style="width: 100%;height: 60px">
        <div style="float:left;margin-left: 24px;">
            <p style="float:left; font-size: 18px;">搜索内容：</p>
            <input style="width: 180px;height: 24px;"/>
            <button style=" width: 100px;height:26px;background-color: #009F95;border-radius:3px;color: #FBFBFB;">
                开始搜索
            </button>
        </div>
    </div>
    <div style="width: 100%;">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" name="edit2" lay-event="edit1">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" name="edit2" lay-event="del">删除</a>
</script>

<div id="Details">
    <iframe  id="subWin"  style="width: 98.2%;height: 750px;border: none;overflow-x:hidden ;overflow-y: hidden"><!--width: 1670px-->

    </iframe>
</div>
<script src="/layui/layui.all.js"></script>

<script>

    function Landing_start()
    {
        /* document.getElementById("but1").style.display="visible"
         document.getElementById("but2").style.display="hidden"
         document.getElementById("but3").style.display="visible"*/
    }

    function close_Details_page()//关闭订单详情通话页
    {
        // $("#Details").animate({width:"50%"}, 0);//收起
        document.getElementById("datagridview").style.display="block";
        document.getElementById("Details").style.display="none";
    }

    function select_change(e)//下拉选择的相应事件
    {
        /*        if (e.selectedIndex===0)//未审核
                {
                }*/
    }

    layui.use('table', function(){
        var table = layui.table;
        var Data=[{"id":"BeJson","item1":"销售主管","item2":true,"item3":"12","item4":"12","item5":"12"},{"id":"BeJson","item1":"销售主管","item2":true,"item3":"12","item4":"12","item5":"12"},{"id":"BeJson","item1":"销售主管","item2":true,"item3":"12","item4":"12","item5":"12"}]
        table.render({
            elem: '#test'
            // ,url:'data.json'//json路径
            , data:Data
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID', width:100, fixed: 'left'}
                    ,{field:'item1', title:'审核数据', width:100}
                    ,{field:'item2', title:'开启', width:150}
                    ,{field:'item3', title:'更改', width:200}
                    ,{field:'item4', title:'金额区间', width:100}
                    ,{field:'item5', title:'审核解锁权限', width:100}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:260}
                ]
            ]
            ,page: true
        });



        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            }
            else if(obj.event === 'edit1')//点击查看按钮
            {
                document.getElementById("datagridview").style.display="none";
                document.getElementById("subWin").src="/Home/SupplierToExaminePage";//?JobName="+data.item1;//跳转到合同详情 传送一个合同编号
                document.getElementById("Details").style.display="block";
            }
        });
    });
</script>

</body>
</html>