<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.ddmanage.mapper.PurchasOrderManagement.PurchasOrderinforMapper">

    <select id="OrderDetailedinfor"  resultType="com.mol.ddmanage.Ben.PurchasOrderManagement.PurchasOrderinforben">
    SELECT fy_quote.quote,
    (SELECT bd_material.`name` FROM bd_material WHERE fy_quote.pk_material_id=bd_material.pk_material)material_name,
    (SELECT bd_measdoc.`name` FROM bd_measdoc WHERE bd_measdoc.pk_measdoc=(SELECT bd_material.pk_measdoc FROM bd_material WHERE bd_material.pk_material=fy_quote.pk_material_id))unit,
    (SELECT bd_supplier.`name` FROM bd_supplier WHERE bd_supplier.pk_supplier=fy_quote.pk_supplier_id)corp_name,
    (SELECT bd_material.materialspec FROM bd_material WHERE fy_quote.pk_material_id=bd_material.pk_material)materialspec
    FROM fy_quote
    where fy_quote.fy_purchase_id=#{PurchasId}

    </select>

    <select id="plannedPurchasebens"  resultType="com.mol.ddmanage.Ben.PurchasOrderManagement.PlannedPurchaseben">
SELECT (SELECT bd_material.`name`FROM bd_material WHERE bd_material.pk_material=fy_purchase_detail.pk_material)'name',
(SELECT bd_material.materialspec FROM bd_material WHERE bd_material.pk_material=fy_purchase_detail.pk_material)materialspec,
(SELECT bd_measdoc.`name` FROM bd_measdoc WHERE bd_measdoc.pk_measdoc=(SELECT bd_material.pk_measdoc FROM bd_material WHERE bd_material.pk_material=fy_purchase_detail.pk_material))pk_measdoc,
fy_purchase_detail.goods_quantity
FROM fy_purchase_detail
WHERE fy_purchase_detail.fy_purchase_id=#{PurchasId}
    </select>
</mapper>