<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mol.purchase.mapper.newMysql.dingding.activiti.ActHiProcinstMapper">
    <select id="getProByPurId" parameterType="java.lang.String" resultType="com.mol.purchase.entity.activiti.ActHiProcinst">
        select * from act_hi_procinst where BUSINESS_KEY_ =#{purId}
    </select>
    <select id="getProByProId" parameterType="java.lang.String" resultType="com.mol.purchase.entity.activiti.ActHiProcinst">
        SELECT * FROM `act_hi_procinst` where PROC_INST_ID_=#{proId}
    </select>
</mapper>